In [ ]:
# Operaciones Básicas
2+2

In [ ]:
1/2

In [ ]:
# No todo es color de rosa
0.1 + 0.2

In [4]:
#Variables
x = 24
y = 13
print(x + y)
print(x - y)

37
11

In [6]:
#funciones/ las funciones de python usan palabras reservadas.
type(x), type(y)

(int, int)

In [ ]:
print(x)
print(y)

In [ ]:
sum([x,y])

In [ ]:
print("Vamos a estudiar los tipos de datos")

In [ ]:
cadena = "Vamos a estudiar los tipos de datos"
print(cadena)

In [ ]:
print(f" Sumo {x} con {y} y obtengo {x+y}")

In [7]:
# Tipos
x = 24
type(x)

int

In [8]:
x = 24.
type(x)

float

In [9]:
x = 'á'
type(x)

str

In [10]:
x = "todo lo que quieras escribir"
type(x)

str

In [11]:
x = True
type(x)

bool

In [ ]:
x = False
type(x)

In [12]:
x = [2 ,3 ,5]
type(x)

list

In [14]:
x[2]

5

In [15]:
x = [3, 'tres', [3, 'tres']]
type(x)

list

In [16]:
print(x)
type(x[0])

[3, 'tres', [3, 'tres']]

int

In [17]:
type(x[1])

str

In [18]:
print(x[2])
type(x[2])

[3, 'tres']

list

In [19]:
type(x[2][0])

int

In [20]:
type(x[2][1])

str

In [21]:
type(0)

int

In [22]:
type(0.)

float

In [23]:
type([0])

list

In [ ]:
type([0][0])

In [24]:
x = {'pera','manzana','naranja','lechuga','pera'}
print(x)
type(x)

{'manzana', 'pera', 'naranja', 'lechuga'}

set

In [25]:

x = {'fruta': 4, 'verdura':8, 'lácteo':3}
print(x)
type(x)

{'fruta': 4, 'verdura': 8, 'lácteo': 3}

dict

# Operaciones

## Números

In [26]:
x = 2 
y = 3
x+y

5

In [27]:
x-y

-1

In [28]:
x*y

6

In [29]:
x/y

0.6666666666666666

In [ ]:
# Operación módulo:
x % y

4 si {0,1,2}

In [36]:
6%5

1.5

### Ejercicio:
Ejecute las mismas operaciones intercambiando los tipos de x, y entre entero y flotante.

In [37]:
x = 2 
y = 3.
x+y

5.0

## Valores de Verdad
* True (Verdadero) 
* False (False)

## Relaciones de orden
* $>$
* $<$
* $>=$
* $<=$ 
* $==$
* $!=$

### Proposiciones

In [38]:
3 > 4

False

In [ ]:
5 < 8

In [40]:
11 == 11

True

In [ ]:
3 != 4

In [41]:
# Cosas raras
True + False

1

In [42]:
True - False

1

In [43]:
False - True

-1

In [44]:
True + True

2

### Proposiciones

In [ ]:
False and False

In [45]:
False or False

False

In [46]:
False or True

True

### Ejercicio:
Experimente con más posibilidades.

In [47]:
not False

True

In [48]:
not True

False

In [49]:
not False

True

In [50]:
mset = {1, 3, 5, 11, 17}
4 in mset

False

In [ ]:
4 not in mset

In [51]:
not 4>3

False

## Cadenas de caracteres

In [55]:
saludo = "Hola soy "
nombre = " Julio Ibarra "
saludo + nombre

'Hola soy  Julio Ibarra \n Para ver'

In [56]:
# Hacer la prueba con la resta
enlace = "Soy de"
ciudad = "Quito"
saludo + nombre + "." + enlace + ciudad

'Hola soy  Julio Ibarra .Soy deQuito'

In [57]:
# Hacer la prueba con la multiplicación
# Posiciónes de caracteres
len(saludo)

9

In [58]:
print(saludo[0])
print(saludo[1])
print(saludo[2])
print(saludo[3])
print(saludo[4])
print(saludo[5])
print(saludo[6])
print(saludo[7])
print(saludo[8])

H
o
l
a

s
o
y

In [59]:
2*saludo

'Hola soy Hola soy '

In [60]:
4**3

64

In [61]:
4**0.5

2.0

### Ejercicio:
Haga una serie de instrucciones que generen variables con las preguntas:
1. ¿Cuál es su nombre?
2. ¿En que ciudad nació?
3. ¿Cuántos años tiene?

Luego debe imprimir estas variables en pantalla y obtener una respuesta del teclado.
Por último debe imprimir el resultado:
Hola nombre, de ciudad, espero que a sus años de edad se encuentre muy bien!

### Ejercicio.
Haga un programa que pregunte dos números e imprima su suma, su resta, su producto, y su división cuando sea posible.

In [62]:
pregunta = "¿Cuántos años tiene?"

In [69]:
x = input(pregunta)

In [70]:
print(x)

5.64

In [71]:
x = float(x)

In [72]:
type(x)

float

In [73]:
pregunta1 = "Cuál es su nombre?"
pregunta2 = "En qué ciudad nació?"
pregunta3 = "Cuántos años tiene?"

nombre = input(pregunta1)
ciudad = input(pregunta2)
edad = input(pregunta3)

print("Hola ", nombre," de ", ciudad," espero que a sus ", edad, " años de edad se encuentre muy bien!" )

Hola  Julio  de  Quito  espero que a sus  50  años de edad se encuentre muy bien!