In [1]:
# Operaciones Básicas
2+2

4

In [2]:
1/2

0.5

In [5]:
# No todo es color de rosa
0.1 + 0.2

0.30000000000000004

In [6]:
#Variables
x = 24
y = 13
x+y , x-y

(37, 11)

In [7]:
#funciones/ las funciones de python usan palabras reservadas.
type(x), type(y)

(int, int)

In [8]:
print(x)
print(y)

24
13

In [10]:
sum([x,y])

37

In [12]:
print("Vamos a estudiar los tipos de datos")

Vamos a estudiar los tipos de datos

In [13]:
cadena = "Vamos a estudiar los tipos de datos"
print(cadena)

Vamos a estudiar los tipos de datos

In [14]:
print(f" Sumo {x} con {y} y obtengo {x+y}")

 Sumo 24 con 13 y obtengo 37

In [15]:
# Tipos
x = 24
type(x)

int

In [16]:
x=24.
type(x)

float

In [17]:
x = 'á'
type(x)

str

In [18]:
x = "todo lo que quieras escribir"
type(x)

str

In [19]:
x = True
type(x)

bool

In [21]:
x = False
type(x)

bool

In [22]:
x = [2 ,3 ,5]
type(x)

list

In [23]:
x = [3, 'tres', [3, 'tres']]
type(x)

list

In [24]:
type(x[0])

int

In [25]:
type(x[1])

str

In [26]:
type(x[2])

list

In [27]:
type(x[2][0])

int

In [28]:
type(x[2][1])

str

In [29]:
type(0)

int

In [30]:
type(0.)

float

In [31]:
type([0])

list

In [32]:
type([0][0])

int

In [33]:
x = {'pera','manzana','naranja','lechuga','pera'}
print(x)
type(x)

{'lechuga', 'naranja', 'manzana', 'pera'}

set

In [34]:
x = {'fruta': 4, 'verdura':8, 'lácteo':3}
print(x)
type(x)

{'fruta': 4, 'verdura': 8, 'lácteo': 3}

dict

# Operaciones

## Números

In [39]:
x = 2 
y = 3
x+y

5

In [40]:
x-y

-1

In [41]:
x*y

6

In [42]:
x/y

0.6666666666666666

In [43]:
# Operación módulo:
x%y

2

### Ejercicio:
Ejecute las mismas operaciones intercambiando los tipos de x, y entre entero y flotante.

In [36]:
x = 2 
y = 3.
x+y

5.0

## Valores de Verdad
* True (Verdadero) 
* False (False)

## Relaciones de orden
* $>$
* $<$
* $>=$
* $<=$ 
* $==$
* $!=$

### Proposiciones

In [44]:
3 > 4

False

In [45]:
5 < 8

True

In [46]:
11 == 11.

True

In [47]:
3 != 4

True

In [48]:
# Cosas raras
True + False

1

In [49]:
True - False

1

In [50]:
False - True

-1

In [51]:
False - False

0

### Proposiciones

In [52]:
False and False

False

In [53]:
False or False

False

In [54]:
False or True

True

### Ejercicio:
Experimente con más posibilidades.

In [55]:
not False

True

In [56]:
not True

False

In [57]:
not False

True

In [58]:
mset = {1, 3, 5, 11, 17}
4 in mset

False

In [59]:
4 not in mset

True

In [60]:
not 4>3

False

## Cadenas de caracteres

In [61]:
saludo = "Hola soy"
nombre = "Julio Ibarra "
saludo + nombre

'Hola soyJulio Ibarra '

In [63]:
# Hacer la prueba con la resta
enlace = "Soy de"
ciudad = "Quito"
saludo + nombre + "." + enlace + ciudad

'Hola soyJulio Ibarra .Soy deQuito'

In [66]:
# Hacer la prueba con la multiplicación
# Posiciónes de caracteres
len(saludo)

8

In [67]:
print(saludo[0])
print(saludo[1])
print(saludo[2])
print(saludo[3])
print(saludo[4])
print(saludo[5])
print(saludo[6])
print(saludo[7])

H
o
l
a

s
o
y

In [68]:
2*saludo

'Hola soyHola soy'

In [69]:
4**3

64

In [71]:
4**0.5

2.0

### Ejercicio:
Haga una serie de instrucciones que generen variables con las preguntas:
1. ¿Cuál es su nombre?
2. ¿En que ciudad nació?
3. ¿Cuántos años tiene?
Luego debe imprimir estas variables en pantalla y obtener una respuesta del teclado.
Por último debe imprimir el resultado:
Hola nombre, de ciudad, espero que a sus años de edad se encuentre muy bien!

### Ejercicio.
Haga un programa que pregunte dos números e imprima su suma, su resta, su producto, y su división cuando sea posible.